body{
    margin-top: 20%;
    margin-bottom: 50%;
    display:flex;
    justify-content: center;
    align-items: center; /* 垂直對齊 */
    background-color: #bde4d9;
}
.title{
    width: 1000px;
    padding: 50px;
    display:block;
    justify-content: center;
    align-items: center;
    background-color: #235f44;

}

.text1{
    text-align: center;
    color: #ac8014;
    font-size: 50px;
    font-weight: bold;
}
.text2{
    margin-left: 3%;
    color: #ac8014;
    font-size: 20px;
    font-weight: bold;
}
