body{
    /* 背景 */
    display: block;
    margin: 10px;
    background-color: #c6ccc3;
}
.fingerspace3{
    /* fingerspace logo圖 */
    width: 500px; 
    height:auto; 
    margin:50px auto;
    display:block;
}
.flowerstep{
    width: auto; 
    height:500px; 
    margin:10px auto;
    display:block;
}
.ribbon{
    width: 500px; 
    height:auto; 
    margin:50px auto;
    display:block;
}

ul.pagination{
    position: fixed; /* 定位在頁面底部 */
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center; /*對齊主軸線中央 */
    align-items: center; /*對齊交錯軸線中央 */
    text-align: center; /* 文字對其區塊內中央 */
}
ul.pagination li{
    display: inline;
}
ul.pagination li a{
    width: 100px;
    margin: 10px;
    padding: 10px 10px;

    float: left;

    background-color: white;
    border-radius: 100px;

    font-size: larger;
    font-weight: bold;
    color: #656d5e;
    text-decoration: none;
}
ul.pagination li a.active{
    width: 100px;
    margin: 10px;
    padding: 10px 10px;

    float: left;

    background-color: #656d5e;
    border-radius: 100px;

    font-size: larger;
    font-weight: bold;
    color: white;
    text-decoration: none;
}



@media (max-width:500px){
    /* 手機-螢幕寬度小於 500px, 套用這個區塊的 CSS */
    .fingerspace3{
        width: 200px; 
        height:auto; 
        display:block;
        margin: 25px auto;
    }
    .flowerstep{
        width: 200px; 
        height:auto; 
        display:block;
        margin:25px auto;
    }
    .ribbon{
        width: 200px; 
        height:auto; 
        display:block;
        margin:25px auto;
    }
    
    /* 手機版目錄 */
    ul.pagination{
        position: fixed; /* 定位在頁面底部 */
        width: 100%;
        margin: 0;
        padding: 0;
    
        display: flex;
        flex-direction: column;
        justify-content: center; /*對齊主軸線中央 */
        align-items: center; /*對齊交錯軸線中央 */
        text-align: center; /* 文字對其區塊內中央 */
    }
    ul.pagination li{
        display: inline;
    }
    ul.pagination li a{
        width: 100px;
        margin: 10px;
        padding: 10px 10px;
    
        float: left;
    
        background-color: white;
        border-radius: 100px;
    
        font-size: larger;
        font-weight: bold;
        color: #656d5e;
        text-decoration: none;
    }
    ul.pagination li a.active{
        width: 100px;
        margin: 10px;
        padding: 10px 10px;
    
        float: left;
    
        background-color: #656d5e;
        border-radius: 100px;
    
        font-size: larger;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
}