body{
    /* 背景 */
    display: block;
    margin: 0;
    padding: 0;
    background-color: #c6ccc3;
}
.main-content {
    padding-bottom: 60px; 
}
.center-container {
    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    background-color: #c6ccc3; /* Add a background color for visibility */
}

.fingerspace3 {
    /* You can adjust the size of the image as needed */
    max-width: 100%;
    height: auto;
}

.flowerstep{
    margin: 10px auto;
    max-width: 95%;
    max-height: 90vh;
}

.ribbon{
    margin: 10px auto;
    max-width: 95%;
    max-height: 90vh;
}
ul.feedback{
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center; /*對齊主軸線中央 */
    align-items: center; /*對齊交錯軸線中央 */
    text-align: center; /* 文字對齊區塊內中央 */
}

ul.feedback a{
    width: 90px;
    margin: 5px 10px;
    padding: 10px 10px;

    float: left;

    background-color: white;
    border-radius: 100px;

    font-size: large;
    font-weight: bold;
    color: #656d5e;
    text-decoration: none;
}

ul.pagination{
    position: fixed; 
    bottom: 10px; /* 定位在離頁面底部10px的地方 */
    width: 100%;
    margin: 0;
    padding: 10px;

    display: flex;
    justify-content: center; /*對齊主軸線中央 */
    align-items: center; /*對齊交錯軸線中央 */
    text-align: center; /* 文字對齊區塊內中央 */
}

ul.pagination li{
    display: inline;
}

ul.pagination li a{
    width: 90px;
    margin: 5px 10px;
    padding: 10px 10px;

    float: left;

    background-color: white;
    border-radius: 100px;

    font-size: larger;
    font-weight: bold;
    color: #656d5e;
    text-decoration: none;
}

ul.pagination li a.active{
    background-color: #656d5e;
    color: white;
    border-radius: 100px;
}


@media (max-width:500px){
    /* 手機-螢幕寬度小於 500px, 套用這個區塊的 CSS */
    .fingerspace3 {
        /* You can adjust the size of the image as needed */
        max-width: 100%;
        height: auto;
    }
    
    .flowerstep{
        margin: 10px auto; 
        max-width: 95%;
        max-height: 90vh; 
    }
    
    .ribbon{
        margin: 10px auto;
        max-width: 85%;
        max-height: 90vh;
    }

    /* 手機版目錄 */
    ul.pagination{
        position: fixed; /* 定位在頁面底部 */
        bottom: 10px;
        width: 100%;
        margin: 0;
        padding: 0;
    
        display: flex;
        flex-direction: row;
        justify-content: center; /*對齊主軸線中央 */
        align-items: center; /*對齊交錯軸線中央 */
        text-align: center; /* 文字對其區塊內中央 */
    }
    ul.pagination li{
        display: inline;
    }
    ul.pagination li a{
        text-decoration: none;
        width: 90px;
        margin: 5px 5px;
        padding: 10px 10px;
        border-radius: 100px;
        float: left;

        background-color: white;    
        font-size: medium;
        font-weight: bold;
        color: #656d5e;
    }
    ul.pagination li a.active{  
        background-color: #656d5e;
        color: white;
    }
}
